:root {

    /* Colors */
    --amber: #ffc300;
    --honey: #d4a72a;
    --toddy: #ae8507;
    --bronze-olive: #533e0d;

    /* Font sizes */
    --title-big: 4rem;
    --title-medium: 3rem;
    

    --subtitle-medium: 1rem;
}
