.header__header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 16vh;
    background: var(--amber);
    display: flex;
    align-items: center;
    z-index: 1000;
}

.header__nav {
    padding-left: var(--spacing-lg);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: var(--spacing-lg);
}

.header__nav__title {
    color: var(--toddy);
    font-size: var(--title-medium);
}

.header__nav__title:hover {
    color: var(--honey);
}

.header__nav__title--main {
    color: var(--bronze-olive);
    font-size: var(--title-big);
}

.header__nav__title--main:hover {
    color: var(--toddy);
}

@media (max-width: 600px) {
  .header__header {
    height: auto;
    padding: var(--spacing-sm);
  }

  .header__nav {
    padding-left: var(--spacing-sm);
    flex-direction: column;
    gap: var(--spacing-sm);
    align-items: flex-start;
  }

  .header__nav__title {
    font-size: 1.5rem;
  }

  .header__nav__title--main {
    font-size: 2rem;
  }
}

