.header__header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20vh;
    background: var(--amber);
    display: flex;
    align-items: center;
    z-index: 1000;
}

.header__nav {
    padding-left: 40px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 40px;
}

.header__nav__title {
    color: var(--bronze-olive);
    font-size: var(--title-medium);
}

.header__nav__title--main {
    color: var(--toddy);
    font-size: var(--title-big);
}

